#Apenas uma ideia por enquanto, rode a api apenas como docker compose
#Não testado ainda
[Unit]
Description=Api da Promove
# Garante que a rede esteja disponível antes de iniciar a API
After=network.target

Require=docker.service
After=docker.service1

[Service]
# Usuário e grupo que irão executar o processo.
# Em Debian/Ubuntu, 'www-data' é comum. Em Arch, 'http'.
User=http
Group=http

# O diretório onde seu projeto está localizado.
WorkingDirectory=/home/kaiqbbrs/promove/general_api

#O comando para inicar o container do docker
ExecStart=/usr/bin/docker-compose up --build

ExecStop=/usr/bin/docker-compose down -v

# Reiniciar o serviço sempre que ele falhar.
Restart=always

[Install]
WantedBy=multi-user.target